@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/flatpickr.css";

@import "tailwindcss/utilities";

@layer components {
    #tabladatos_wrapper .dt-length select {
        @apply px-5;
    }
}

/* --- hamburguesa ---- */

/* .hamburguesa {
    @apply w-10 h-10 rounded-lg cursor-pointer;
}
.menu:checked ~ label p:nth-child(2) {
    @apply hidden;
}

.menu:checked ~ label p:nth-child(1) {
    @apply -rotate-45 translate-y-[3px];
}
.menu:checked ~ label p:nth-child(3) {
    @apply rotate-45 -translate-y-[5px];
} */

/* @layer utilities {
    .clip-circle-0 {
        clip-path: circle(0% at top right);
    }

    .clip-circle-full {
        clip-path: circle(150% at top right);
    }
} */
.dropdown {
    @apply relative border-b-[1.5px] border-white;
  }
  
  .input-box {
    @apply w-full h-[15px]  outline-none cursor-pointer flex items-center flex-row-reverse justify-between relative;
  }
  
  .input-box::before {
    @apply content-[''] block w-[15px] h-[15px] bg-cover bg-no-repeat bg-center;
  }
  
  .input-box1 {
    @apply w-full h-[15px]  outline-none cursor-pointer flex items-center flex-row-reverse justify-between relative;
  }
  
  .input-box1::before {
    @apply content-[''] block w-[15px] h-[15px] bg-cover bg-no-repeat bg-center;
  }
  
  .list,
  .list1 {
    @apply relative top-[100%] left-0 w-full bg-[#2C7393] flex items-center justify-between flex-col max-h-0 transition-all duration-200 ease-out;
  }
  
  .list input,
  .list1 input {
    @apply hidden;
  }
  .list label,
  .list1 label {
    @apply flex w-full items-center justify-start py-[10px] px-[15px] box-border cursor-pointer relative;
  }
  
  .list label:hover,
  .list1 label:hover {
    @apply bg-[#023B54];
  }
  
  input:checked + .typeServicios,
  input:checked + .typeServicios1 {
    @apply text-[#ffffff] bg-[#023B54] font-inter font-semibold;
  }
  
  input:checked + .typeServiciosContacto {
    @apply text-[#2E67A4] bg-[#E3ECEA] font-inter font-semibold;
  }
  .open {
    @apply outline-none;
  }
  
  .scroll-typeServicios::-webkit-scrollbar,
  .scroll-typeServiciosContacto::-webkit-scrollbar {
    @apply w-[5px] bg-[#f1f1f1] rounded-[16px];
  }
  
  .scroll-typeServicios::-webkit-scrollbar-thumb {
    @apply bg-[#023B54] rounded-[16px];
  }
  
  .scroll-typeServiciosContacto::-webkit-scrollbar-thumb {
    @apply bg-[#ffffff] rounded-[16px];
  }